<h3 id='titre_edit_detail'>Choose a detail</h3>

<% detail_selection = Detail.where("shape_id = :shape_id", { shape_id: "#{@garment.shape_id}" }) %>


<div class = "container-fab-det" id="detail-section">
  <div class = "card-fab-det">
    <div class="image image_garment_simulation" id="image">
      <%# <%= image_tag(@garment.image_name, size: "500x750") %>
      <%= image_tag("https://res.cloudinary.com/fit-ts/image/upload/v1654522181/fit/#{@garment.image_name}", size: "500x750") %>
    </div>

  </div>
  <div class="card-fab-det width_for_square_container" data-controller="selection" data-selection-garment-id-value="<%= @garment.id %>">
    <%= simple_form_for @garment do |f| %>
      <% detail_selection.each do |detail| %>
      <link rel="preload" href="https://res.cloudinary.com/fit-ts/image/upload/v1654522181/fit/garments/<%= @garment.category.code %>_<%= @garment.shape.code %>_<%= @garment.fabric.code %>_<%= detail.code %>.png" as="image" type="image/png"/>
        <div class="radio-button">
          <%= f.radio_button(:detail_id, detail.id) %>
          <label class="image" for="garment_detail_id_<%= detail.id %>" data-action="click->selection#select" data-selection-detail-id-param="<%= detail.id %>">
           <div class= detail_name_for_square> <%=detail.name %></div>
            <%= image_tag("https://res.cloudinary.com/fit-ts/image/upload/v1654522181/fit/detail_name/detail_#{detail.code}.jpg", size: "100x100", class:"border") %>
          </label>
        </div>
      <% end %>
      <p class="price">Price: <%= humanized_money_with_symbol(@garment.price) %></p>

      <div class = "button-fabric">
       <%# en dessous c'est pour mettre la  vague du bouton save %>
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" hidden>
            <defs>
              <filter id="goo">
                <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
              </filter>
            </defs>
          </svg>
          <button class="blob-btn" type='submit'>
            Save your Detail
            <span class="blob-btn__inner">
              <span class="blob-btn__blobs">
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
                <span class="blob-btn__blob"></span>
              </span>
            </span>
          </button>
        <%# ancien bouton crée par le form <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>
