  <div id='title_edit_shape'> Choose your shape !
  <% category_selection = @garment.category %>
  <% shape_selection = Shape.where("category_id = :category_id", { category_id: "#{@garment.category_id}" }) %>
  </div>

  <div id='soustitre_new'>The available shapes below
  </div>

  <%#= image_tag(@garment.image_name, size: "250x250") %>

  <%= simple_form_for @garment do |f| %>
    <div class="card_align">

      <%= f.input :shape_id, wrapper_html: { class: 'd-flex max-content flex-wrap' }, as: :radio_buttons, collection: shape_selection, label_method: lambda { |shape| render "garments/shape_label", shape: shape, category_selection: category_selection } %>

      <div class="card_align1 form-check">
          <%= image_tag "garments/#{@garment.category.code}_soldout_1.png", size: "250x375" %>
      </div>

      <div class="card_align1 form-check">
        <%= image_tag "garments/#{@garment.category.code}_soldout_2.png", size: "250x375" %>
      </div>
    </div>

    <div class = "button-gold">
      <%= f.button :submit %>
    </div>
  <% end %>
