<h2 class='garment_index_title'>Your FIT</h2>


<div class="cards_index">
  <% @garments.each do |garment| %>
    <% if garment.selected == true %>
      <div class="card_index">
        <div class="m-2">
          <% if url_valid?("https://res.cloudinary.com/fit-ts/image/upload/v1654522181/fit/#{garment.image_name}") %>
            <%= link_to image_tag("https://res.cloudinary.com/fit-ts/image/upload/v1654522181/fit/#{garment.image_name}", size: "250x375"), garment_path(garment), class:"dash" %>
            <p>Price: <%= humanized_money_with_symbol(garment.price) %></p>
          <% else %>
            <%= link_to image_tag("karl.jpg", size: "180x250"), garment_path(garment) %>
          <% end %>
        </div>
        <div>
          <%= render"shared/button_share", garment: garment %>
        </div>
        <div class="m-1 mb-1">
          <%= render"shared/button_delete", garment: garment %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<h2 class= 'garment_index_title'>Your drafts</h2>

<div class="cards_index">
  <% @garments.each do |garment| %>
    <% if garment.selected == nil %>
      <div class="card_index">
        <div class="m-2">
          <% if url_valid?("https://res.cloudinary.com/fit-ts/image/upload/v1654522181/fit/#{garment.image_name}") %>
            <%= link_to image_tag("https://res.cloudinary.com/fit-ts/image/upload/v1654522181/fit/#{garment.image_name}", size: "250x375"), garment_path(garment), class:"dash" %>
            <p>Price: <%= humanized_money_with_symbol(garment.price) %></p>
          <% else %>
            <%= link_to image_tag("karl.jpg", size: "180x250"), garment_path(garment) %>
          <% end %>
        </div>
         <div>
          <%= render"shared/button_share", garment: garment %>
        </div>
        <div class="m-1 mb-1">
          <%= render"shared/button_delete", garment: garment %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
