<h2>Créez votre vêtement</h2>

<h3>Choisissez une catégorie</h3>

<%= simple_form_for @garment do |f| %>
<%#   <%= f.input :category_id, as: :radio_buttons, collection: Category.all %>
  <% Category.all.each do |category| %>
    <label>
      <%= f.radio_button(:category_id, category.id) %>
      <%= image_tag("categories/#{category.code}.jpg", size: "250x250") %>
    </label>
  <% end %>
  <%= f.button :submit %>
<% end %>

<%# InspirationImage.all.map {|i| image_tag(i.url).html_safe }, %>
