<h2>Votre vêtement</h2>
  <div class="container container_show">
    <div class="card">
      <div class="image">
        <%= image_tag(@garment.image_name, size: "500x500") %>
      </div>
      <div class="content">
        <h3>This is your FIT</h3>
        <p>Category: <%= @garment.category.name %></p>
        <p>Shape: <%= @garment.shape.name %></p>
        <p>Detail: <%= @garment.detail.name %></p>
        <%= render"shared/button", garment: @garment %>
        <%= render"shared/button_selected", garment: @garment %>
      </div>
    </div>
  </div>
