
<header role="banner">
  <div class= "navbar_whole">
    <form class="search-container" action="#">
      <input id="search-box" type="text" class="search-box" name="q" />
      <label for="search-box"><i class=" search-icon fa-solid fa-magnifying-glass"></i></label>
      <input type="submit" id="search-submit" />
    </form>

    <div class = "top_nav">
    <%= link_to root_path do %>
      <%= image_tag "logo_FIT.png" , id:"logo-main",width: 100, alt: "Logo Thing main logo"%>
      <% end %>
      <ul class="navbar_link_shapes">
        <li> <%= link_to "Pants", garments_path(category: "pants"), data: {turbo_method: :post} %></li>
        <li> <%= link_to "Tops", garments_path(category: "top"), data: {turbo_method: :post} %></li>
        <li> <%= link_to "Dresses & Overalls ", garments_path(category: "dress"), data: {turbo_method: :post} %></li>
        <li> <%= link_to "Jacket", garments_path(category: "jacket"), data: {turbo_method: :post} %></li>
      </ul>
    </div>

    <div class="avatar_bubble dropdown">
     <% if current_user %>
       <%= image_tag "avatar.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "My Avatar", "#", class: "dropdown-item" %>
          <%= link_to "My Prototypes", "../garments", class: "dropdown-item" %>
              <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      <% end %>
    </div>
  </div>
</header>
