
<div class="container container_home">



  <div class="div_carrousel">
    <ul class="ul_carrousel_1" id="c">
      <div class="div_container_2">
        <li class="li_carrousel first_anim"><p class="p_carrousel"><strong class="strong_carrousel">1</strong></p><p class="p_carrousel">Chose your shape</p></li>
      </div>
      <div class="div_container_2">
        <li class="li_carrousel second_anim"><p class="p_carrousel"><strong class="strong_carrousel">2</strong></p><p class="p_carrousel">Pick your fabric</p></li>
      </div>
      <div class="div_container_2">
        <li class="li_carrousel third_anim"><p class="p_carrousel"><strong class="strong_carrousel">3</strong></p><p class="p_carrousel">Customize details</p></li>
      </div>
       </div>
    </ul>



<section id="slideshow">
			<div class="entire-content">
				<div class="content-carrousel">
					<figure class="shadow"><%= image_tag("https://res.cloudinary.com/fit-ts/image/upload/v1654522181/fit/garments/pants_cargo_whitejeans_papaye.png", size: "500x750") %></figure>
          <figure class="shadow"><%= image_tag("https://res.cloudinary.com/fit-ts/image/upload/v1654522181/fit/garments/pants_straight_kakifluff_glitter.png", size: "500x750") %></figure>
          <figure class="shadow"><%= image_tag("https://res.cloudinary.com/fit-ts/image/upload/v1654522181/fit/garments/top_turtleneck_silver_flower.png", size: "500x750") %></figure>
          <figure class="shadow"><%= image_tag("https://res.cloudinary.com/fit-ts/image/upload/v1654522181/fit/garments/top_bustier_mermaid_goldring.png", size: "500x750") %></figure>
          <figure class="shadow"><%= image_tag("https://res.cloudinary.com/fit-ts/image/upload/v1654522181/fit/garments/dress_circle_azur_turquoise.png", size: "500x750") %></figure>
          <figure class="shadow"><%= image_tag("https://res.cloudinary.com/fit-ts/image/upload/v1654522181/fit/garments/dress_drape_silverspot_flower2.png", size: "500x750") %></figure>
          <figure class="shadow"><%= image_tag("https://res.cloudinary.com/fit-ts/image/upload/v1654522181/fit/garments/jacket_longblazer_patchwork2_turquoise.png", size: "500x750") %></figure>
          <figure class="shadow"><%= image_tag("https://res.cloudinary.com/fit-ts/image/upload/v1654522181/fit/garments/pants_cargo_lightjeans_mushroom.png", size: "500x750") %></figure>
          <figure class="shadow"><%= image_tag("https://res.cloudinary.com/fit-ts/image/upload/v1654522181/fit/garments/dress_circle_mermaid_japanese.png", size: "500x750") %></figure>
          <figure class="shadow"><%= image_tag("https://res.cloudinary.com/fit-ts/image/upload/v1654522181/fit/garments/jacket_longblazer_purplefluff_rubywhite.png", size: "500x750") %></figure>
		</div>
	</div>
     </section>
<div class="title_and_button">
 <div class="div_container_1">

    Create
    <div class="stack">
      YOUR</span>
    </div>
    Clothes!
</div>


  <div class="div_button">
    <a class="div_fit" href="/garments/new">
      <div class="wrapper_fit">
        <div class="card_fit">
          <h1 class="button_title">
            <span class="enclosed">TRY ME!</span>
          </h1>
        </div>
      </div>
    </a>
  </div>
</div>
</div>
